body
{
    margin: 0px;
    padding: 0%;
}
html
{
    background-color: grey;
}
.Overhead
{
    width:auto;
    height: auto;
    background-color: rgb(122, 45, 71);
    color: white;
    border: 2px solid snow;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.Background
{
    width: auto;
    height: auto;
    background-color: grey;
    text-align: left;
    color: white;
}
.OverheadLinks
{
    margin:9%;
    text-align: center;
    color: white;
}
.Grid-Container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.Grid-Item
{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10%;
    border-radius: 10px;
    border: 2px solid rgb(122, 45, 71);
    margin-left: 20%;
    margin-right: 20%;
    background-color: paleturquoise;
    color: rgb(122, 45, 71);
}
.Grid-Item div
{
    margin: 10%;
}
.Grid-Item img
{
    margin-top: 10%;
    border-radius: 10px;
    border: 2px solid rgb(122, 45, 71);
}
.Paragraph
{
    text-align: left;
}
.Grid-Item-Child-One
{
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}
.Grid-Item a
{
    text-decoration: none;
}